.pagination {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: center;
  margin: 4rem 0;

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    padding: 1.8rem;
    border: 0.1rem solid $light-gray;
  }

  &__current {
    @extend .pagination__button;
    background-color: $black;
    color: $white;
    font-size: 1.6rem;
    font-weight: 700;
    width: 7rem;
    @include inter();
  }

  .active {
    background-color: $dim-gray;
    border: 0.1rem solid $dim-gray;
    cursor: pointer;
  }

  .disabled {
    border: 0.1rem solid $light-gray;
    cursor: not-allowed;
  }
}
