.cards {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  @include layoutDefault();

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include screen-size('desktop-small') {
      gap: 3rem;
    }
  }

  &__icon {
    margin-left: 0.5rem;
    margin-bottom: -0.5rem;

    @include screen-size('tablet') {
      margin-left: 1rem;
    }
  }

  &__articles {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include screen-size('tablet') {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2.2rem;
    }

    @include screen-size('desktop-small') {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.firstCard {
  @include screen-size('desktop-small') {
    grid-area: 1 / 1 / 2 / 3;
  }
}
