.breadcrumb {
  &__list {
    display: flex;
    gap: 0.5rem;
    font-weight: 700;
    font-size: 1.4rem;
    color: $gray;

    @include screen-size('desktop') {
      font-size: 1.6rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-transform: capitalize;
    @include inter();

    &:hover {
      font-weight: 800;
    }
  }

  &__lastItem {
    color: $gunmetal;
  }
}
