@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@mixin colors() {
  &--white {
    color: $white;
  }

  &--black {
    color: $black;
  }

  &--light-gray {
    color: $light-gray;
  }

  &--dim-gray {
    color: $dim-gray;
  }

  &--gunmetal {
    color: $gunmetal;
  }

  &--light-blue {
    color: $light-blue;
  }

  &--red {
    color: $red;
  }

  &--light-red {
    color: $light-red;
  }

  &--bittersweet {
    color: $bittersweet;
  }

  &--cosmos {
    color: $cosmos;
  }

  &--cordovan {
    color: $cordovan;
  }

  &--yellow {
    color: $yellow;
  }
}

@mixin backgroundColor() {
  &--white {
    background-color: $white;
  }

  &--black {
    background-color: $black;
  }

  &--light-gray {
    background-color: $light-gray;
  }

  &--dim-gray {
    background-color: $dim-gray;
  }

  &--gunmetal {
    background-color: $gunmetal;
  }

  &--light-blue {
    background-color: $light-blue;
  }

  &--red {
    background-color: $red;
  }

  &--light-red {
    background-color: $light-red;
  }

  &--bittersweet {
    background-color: $bittersweet;
  }

  &--cosmos {
    background-color: $cosmos;
  }

  &--cordovan {
    background-color: $cordovan;
  }

  &--yellow {
    background-color: $yellow;
  }
}

@mixin align() {
  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--center {
    text-align: center;
  }
}

@mixin direction() {
  &--row {
    flex-direction: row;
  }

  &--row-reverse {
    flex-direction: row-reverse;
  }
}

@mixin weight() {
  &--300 {
    font-weight: 300;
  }

  &--400 {
    font-weight: 400;
  }

  &--500 {
    font-weight: 500;
  }

  &--600 {
    font-weight: 600;
  }

  &--700 {
    font-weight: 700;
  }

  &--800 {
    font-weight: 800;
  }

  &--900 {
    font-weight: 900;
  }
}

@mixin headings() {
  &--h1 {
    font-size: 3.6rem;
    @include screen-size('tablet') {
      font-size: 4rem;
    }
    @include screen-size('desktop') {
      font-size: 4.4rem;
    }
  }

  &--h2 {
    font-size: 3.2rem;
    @include screen-size('tablet') {
      font-size: 3.6rem;
    }
    @include screen-size('desktop') {
      font-size: 4rem;
    }
  }

  &--h3 {
    font-size: 2.8rem;
    @include screen-size('tablet') {
      font-size: 3.2rem;
    }
    @include screen-size('desktop') {
      font-size: 3.6rem;
    }
  }

  &--h4 {
    font-size: 2.4rem;
    @include screen-size('tablet') {
      font-size: 2.8rem;
    }
    @include screen-size('desktop') {
      font-size: 3.2rem;
    }
  }

  &--h5 {
    font-size: 2rem;
    @include screen-size('tablet') {
      font-size: 2.4rem;
    }
    @include screen-size('desktop') {
      font-size: 2.8rem;
    }
  }

  &--h6 {
    font-size: 1.6rem;
    @include screen-size('tablet') {
      font-size: 2rem;
    }
    @include screen-size('desktop') {
      font-size: 2.4rem;
    }
  }
}

@mixin inter() {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@mixin buttonStyles($level) {
  $secondary-background-color: transparent;
  $secondary-color: $cordovan;
  $secondary-border-color: $cordovan;

  @if $level == 'primary' {
    background-color: $cordovan;
    color: $white;
  } @else if $level == 'secondary' {
    background-color: $secondary-background-color;
    color: $secondary-color;
    border: 0.1rem solid $secondary-border-color;
  }
}

@mixin buttonVariants() {
  &--primary {
    @include buttonStyles('primary');

    &:hover,
    &:focus {
      background-color: $bittersweet;
    }
  }

  &--secondary {
    @include buttonStyles('secondary');

    &:hover,
    &:focus {
      color: $bittersweet;
      border-color: $bittersweet;
    }
  }
}

@mixin buttonWithIconDirections() {
  &--right {
    flex-direction: row;
  }

  &--left {
    flex-direction: row-reverse;
  }
}
