$white: #ffffff;
$black: #1c1c1c;

$dark-gray: #323232;
$light-gray: #5c5c5c;
$dim-gray: #5c6b6b;

$gunmetal: #292f36;
$light-blue: #177F9C;

$red: #e02238;
$light-red: #ff6b6b;
$bittersweet: #f26666;
$cosmos: #481620;
$cordovan: #8c4949;

$yellow: #ffe66d;
