.headerContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: $white;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  width: 100%;
  @include layoutDefault();

  &__open {
    flex-direction: column;
    font-size: 1.4rem;
    height: 100vh;
    justify-content: flex-start;

    nav {
      width: 100%;
    }

    a {
      @include inter();
      font-weight: 600 !important;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;

    @include screen-size('desktop-md') {
      width: unset;
    }
  }

  &__icon {
    cursor: pointer;
  }

  &__navigation {
    @include screen-size('desktop-md') {
      display: flex;
      gap: 1rem;
    }

    @include screen-size('desktop') {
      gap: 2rem;
    }
  }

  &__list {
    color: $gunmetal;
    margin-top: 2rem;

    @include screen-size('desktop-md') {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: unset;
    }

    @include screen-size('desktop') {
      gap: 2rem;
    }
  }

  &__item {
    border-bottom-color: $gunmetal;
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;
    padding: 2rem 0;
    transition: all 0.8s;

    @include screen-size('desktop-md') {
      border-bottom-color: unset;
      border-bottom-width: unset;
      border-bottom-style: unset;
      padding: unset;
      font-size: 1.8rem;
    }
  }

  &__activeItem {
    color: $cordovan;
  }

  &__link {
    &:hover {
      color: $cosmos;
      font-weight: 700 !important;
    }
  }
}
