.footer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 4rem;
  @include layoutDefault();

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @include screen-size('desktop-small') {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.6rem;
    color: $gunmetal;

    @include screen-size('desktop-small') {
      gap: 1rem;
    }

    @include screen-size('desktop') {
      gap: 2rem;
    }
  }

  &__item {
    font-size: 1.6rem;

    @include screen-size('desktop-small') {
      font-size: 2rem;
    }
  }
}