.about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @include layoutDefault();

  @include screen-size('desktop') {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
  }

  &__imageContainer {
    background-color: $light-gray;
    padding: 4rem 3.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include screen-size('desktop') {
      padding: 12rem 8rem;
    }
  }

  &__image {
    width: 100%;
    object-fit: contain;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include screen-size('desktop') {
      gap: 3rem;
    }
  }

  &__title {
    padding-left: 4rem;
  }

  &__text {
    font-size: 1.6rem;
    line-height: normal;
    letter-spacing: 0.05rem;

    @include screen-size('tablet') {
      font-size: 1.8rem;
    }

    @include screen-size('desktop') {
      font-size: 2rem;
    }
  }
}
