.animation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;

  &__columns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    gap: 2rem;
  }

  &__image {
    object-fit: cover;
    border-radius: 0.8rem;
    width: 100%;
    filter: contrast(1.01);
  }

  &__column1 {
    animation: moveDown 16s ease-in-out infinite alternate;
  }

  &__column2 {
    animation: moveUp 16s ease-in-out infinite alternate;
  }

  &__column3 {
    animation: moveDown 16s ease-in-out infinite alternate;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(40%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40%);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-40%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40%);
  }
}
