.search {
  display: flex;
  align-items: center;
  border: solid 0.2rem $cordovan;
  border-radius: 0.8rem;
  padding: 2rem 1rem;
  gap: 2rem;

  &__input {
    font-size: 1.4rem;
    width: 100%;
    outline: none;

    @include screen-size('desktop') {
      font-size: 2rem;
    }
  }
}
