.recentVideos {
  background-color: $dim-gray;
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include screen-size('tablet') {
      align-items: flex-start;
    }

    @include screen-size('desktop') {
      padding: 8rem 4rem !important;
    }

    @include layoutDefault();
  }

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include screen-size('desktop-small') {
      gap: 3rem;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include screen-size('tablet') {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__svg {
    display: none;
    @include screen-size('desktop-small') {
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
    }
  }
}
